PORT=3000
JWT_SECRET=dGhpc2lzYXZlcnlsb25nand0c2VjcmV0a2V5Zm9yYmFudGFkc2Rldg==

AUTH_SERVICE_URL=http://localhost:8081
CLIENTE_SERVICE_URL=http://localhost:8082
GERENTE_SERVICE_URL=http://localhost:8083
CONTA_SERVICE_URL=http://localhost:8084
SAGA_SERVICE_URL=http://localhost:8085
